<!DOCTYPE html>
<html lang="zh">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Piclife</title>
<!--    <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap.min.css">deve-->
<!--    <link href="/public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">deve-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><!--product-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><!--product-->

    <link href="/top/piclife/piclife.css" rel="stylesheet">

</head>

<body>
    <%include ../../public/header/header %>
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Piclife</h1>
            </div>
        </div>

            <% if(piclife) {%>
                <% for(var j in piclife) {%>
                    <% var ele=( ( piclife[j].pathLinkGithubmin() instanceof Array)? piclife[j].pathLinkGithubmin()[0] : piclife[j].pathmin()); %>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <a href="/singlepic?picid=<%= piclife[j].id %>">
                                <img class="img-responsive" src="<%= ele %>" alt="">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <h3><%= piclife[j].title %></h3>
                            <p><%= piclife[j].content %></p>
                            <a class="btn btn-primary" href="/singlepic?picid=<%= piclife[j].id %>">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                    <!-- /.row -->

                    <hr>
                <% }%>
            <% } else {%>
                <p>没有任何照片</p>
            <% }%>
<!--         <div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

<hr> -->
        <%include ../../public/footer/footer %>
    </div>
    <style type="text/css">
    .navbar-custom{
        background-color: black;
    }
    </style>
</body>
    <%include ../../public/seajs %>
</html>
