<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog</title>

    <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap.min.css"><!--deve-->
    <link href="/public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!--deve-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">product-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">product-->

    <link href="/top/blog/clean-blog.css" rel="stylesheet">
</head>

<body>
   <%include ../../public/header/header %>

    <header class="intro-header" style="background-image: url('https://cdn.rawgit.com/xxiiaass/MYCDN/master/public/images/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Blog</h1>
                        <hr class="small">
                        <span class="subheading">希望这文笔，没辜负那＂寒窗苦读＂的二十余载</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container allcontent">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr>
                <% if (blog) {%>
                    <% for(var i in blog) {%>
                        <div class="post-preview">
                            <a href="/singleblog?blogid=<%= blog[i].idfunc() %>">
                                <h2 class="post-title"><%= blog[i].titlefunc() %></h2> 

                                <h4 class="post-subtitle"><%= blog[i].contentfunc().substr(0, 60) %></h3>
                            </a>
                            <p class="post-meta">write by <%= blog[i].authorfunc() %> <span class=createtime>on <%= blog[i].createtimefunc().toLocaleString() %></span></p>
                        </div>
                        <hr>
                    <% } %>
                    <% } else { %>
                        <p>没有任何文章</p>
                <% } %>
<!--                 Pager
<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
</ul> -->
            </div>
        </div>
    </div>
    <hr>

    <!-- Footer -->
    <%include ../../public/footer/footer %>

</body>
    <%include ../../public/seajs %>
</html>
