<!DOCTYPE html>
<html>
<head>
	<title>Amazing</title>
	<link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/less" href="/top/top.less">
</head>
<body>
	<%include ../public/header/header %>

	<section >
		<div class="container">
			<div class="row ">
				<div class="col-sm-5 col-sm-offset-1 piclife">
					<% if (piclife) {%>
						<% for(var m in piclife) {%>
							<p><%= piclife[m].path%></p>
						<% } %>
					<% } else { %>
						<p>没有任何照片</p>
					<% } %>
				</div>

				<div class="col-sm-6 blogs">
					<% if (blog) {%>
					<% for(var i in blog) {%>
						<div class="blog">
							<div class="blogtitle"><strong><%= blog[i].title %></strong> <span class="author">write by <%= blog[i].author %></span> <span class=createtime>on <%= blog[i].createtime.toLocaleString() %></span></div>
							<div class="blogcontent"><%= blog[i].content.substr(0, 60) %></div>
						</div>
					<% } %>
					<% } else { %>
						<p>没有任何文章</p>
					<% } %>
				</div>
			</div>
		</div>
	</section>

</body>

<script src="/public/lib/seajs-3.0.0/dist/sea.js"></script>
<script>
	// Set configuration
	seajs.config({
		alias: {
			"jquery":"/public/lib/jquery/jquery-seajs.js",
			"jq-trans": "/public/lib/jquery/jquery-transision-seajs.js",
			"bootstrap":"/public/lib/bootstrap/js/bootstrap-seajs.js",
			"less":"/public/lib/less.js"
		}
	});
	seajs.use("/top/top-main");
</script>

</html>